@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Agency-FB';
  src: url('/Agency-FB/Agency-FB.woff') format('woff');
}


body{
  background-color: black;
  font-family: 'Agency-FB', sans-serif;
}

h1,li{
  color: white;
}

p{
  color: 
  #AA243D;
}

